body, h1, h2, h3, p, a{
	font-family: 'Kanit', sans-serif;
}

.blue-button{
	padding: 10px 0;
	border: none;
	font-style: italic;
	background-color: #1485CC;
	color: #ffffff;
	font-size: 1.25em;
}

.main-title{
	text-transform: uppercase;
	font-style: italic;
}

button:focus, input:focus{
	outline: none;
}

/* ------------- Nav Bar ------------- */

.navbar{
	background-color: #ffffff;
	border-bottom: 2px solid #666666;
	margin: 0;
}

.navbar ul li a{
	color: #262626;
	font-weight: 600;
}

#center-nav ul li{
	width: 200px;
	text-align: center;
}

.navbar-brand img{
	width: 250px;
}

.navbar-brand{
	padding: 5px 0 0 0;
	margin-right: 120px;
}

/* ------------- Home Page ------------- */

#main-cta {
	padding: 50px 0;
	background: url("../images/AdobeStock_93853334.jpeg") center center no-repeat;
	background-size: cover;
	position: relative;
}

#main-cta .container{
	position: relative;
}

#main-cta h1, #main-cta h2{
	text-transform: uppercase;
	font-style: italic;
	text-align: center;
	color: #ffffff;
}

#main-cta h1 span{
	color: #EB1C24;
}

#main-cta button{
	padding: 10px 0;
	border: none;
	font-style: italic;
	background-color: #1485CC;
	color: #ffffff;
	font-size: 1.25em;
}

#overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.5);
	z-index: 0;
}



#home-find h2, #home-find p{
	text-transform: uppercase;
	font-style: italic;
	text-align: center;
}

#home-find h2 span{
	color: #EB1C24;
}

#home-find input{
	height: 50px;
	margin-top: 10px;
	font-size: 1.25em;
}

#home-find input:focus{
	outline: none;
}

#home-find input[type="submit"]{
	padding: 10px 0;
	border: none;
	font-style: italic;
	background-color: #1485CC;
	color: #ffffff;
	font-size: 1.25em;
}

footer{
	background-color: #262626;
	padding: 40px 20px;
	color: #ffffff;
	margin-top: 200px;
}

footer a{
	display: block;
}

/* ------------- Log in ------------- */

#login input{
	width: 100%;
	height: 40px;
	padding: 10px;
}

#login{
	overflow: auto;
	margin-top: 100px;
	margin-bottom: 100px;
}

/* ------------- Sign Up / Confirmation ------------- */

#findameet{
	background-color: #f5f5f5;

}

#welcome-message{
	background-color: #eb1c24;
	text-align: center;
	color: #ffffff;
}

#findameet input{
	height: 40px;
	padding: 10px;
}

#findameet input[type="submit"]{
	border: none;
	font-style: italic;
	background-color: #1485CC;
	color: #ffffff;
	font-size: 1.25em;
	margin-bottom: 20px;
	width: 190px;
}

/* ------------- Start a Meet ------------- */

.NFI-wrapper{
  width: 100%;
}
.NFI-button {
    color: #fff;
    padding: 10px 20px;
    background-color: #333333;

   
}

.NFI-button:hover{

   
}

.NFI-filename {
	display: block;
	float: left;
   
}

#startameet{

}

#confirmation-row{
	margin-top: 100px;
}

#split p{
	text-align: center;
	margin-top: 50px;
}

#startameet-button{
	border: 4px solid #262626;
	padding: 10px;
	font-size: 1.5em;
	font-style: italic;
	display: block;
	text-align: center;
}

#start1-form h1, #start2-form h1{
	background-color: #eb1c24;
	text-align: center;
	color: #ffffff;
}

#start2-form p, #start2-form p{
	text-align: center;
}

#start1-form input[type="text"]{
	width: 200px;
	height: 40px;
	padding: 10px;
	display: block;
	margin: 0 auto; 
}

#start2-form input[type="text"]{
	height: 40px;
}

#title{
	width: 100%;
	padding: 5px;
}


#start2-form textarea{
	width: 100%;
	height: 100px;
	padding: 5px;
}

#rule-buttons{
	margin-bottom: 20px;
}

#rule-buttons a{
	text-align: center;
	padding: 10px;
	color: #ffffff;
	text-decoration: none;
	font-size: 1.25em;
	display: block;
	margin: 20px 0;
	width: 100%;
}

#rule-buttons div:first-child a{
	background-color: #262626;
}

#rule-buttons div:nth-child(2) a{
	background-color: #1485CC;
}

#rules-input{
	display: none;
}

#rules-container .rule input{
	clear: both;
	margin: 20px 0;
	display: block;
	padding: 5px;
	width: 250px;
}

#rules-input button{
	border: 3px solid #262626;
	color: #262626;
	clear: both;
	display: block;
	padding: 10px;
	font-size: 1.25em;
	background-color: #ffffff;
	font-style: italic;
	transition: border .2s, background-color .2s, color .2s;
}

#rules-input button:hover{
	border: 3px solid #ffffff;
	background-color: #333333;
	color: #ffffff;
}

#start1-form input[type="submit"], #start2-form input[type="submit"]{
	width: 200px;
	height: 40px;
	padding: 10px;
	display: block;
	margin: 0 auto;
	border: none;
	font-style: italic;
	background-color: #1485CC;
	color: #ffffff;
	font-size: 1.25em;
}

#start2-form #submit{
	float: right;
	display: none;
	width: 100%;
	margin-top: 20px;
}

/* ------------- Meet Confirmation ------------- */

#meet-preview img{
	width: 100%;
}

#meet-confirmation{
	margin-bottom: 50px;
}

#meet-confirmation h1{
	text-align: center;
	margin-bottom: 50px;
	font-style: italic;
	text-transform: uppercase;
}

#preview-meet{
	padding: 10px 0;
	border: none;
	font-style: italic;
	background-color: #1485CC;
	color: #ffffff;
	font-size: 1.25em;
	display: block;
	padding: 10px;
	text-align: center;
	text-decoration: none;
}

/* ------------- Browse ------------- */

#browse-main{
	background: url(../images/browse-background.jpeg) center center no-repeat;
	background-size: cover;
	padding: 50px 0;
	position: relative;
}

#browse-main #browse-overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.5);
	z-index: 0;
}

#browse-main #main-form{
	position: relative;
}

#main-form h1{
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	font-style: italic;
}

#main-form input{
	width: 100%;
	padding: 5px;
	font-size: 1.25em;
}

#main-form input[type = "submit"]{
	background-color: #1485CC;
	border: none;
	color: #ffffff;
	font-size: 1.5em;
	font-style: italic;
}

#filter h2{
	text-align: center;
	margin: 20px;
}

.browse-box img{
	width: 100%;
	display: block;
}

.browse-box p{
	padding: 5px;
	position: absolute;
	width: 100%;
	bottom: 0;
	margin: 0;
	font-size: 1.25em;
	background-color: rgba(255,255,255,.7);
}

#filter form{
	display: inline;
}

#select-distance{
	background-color: #333333;
	color: #ffffff;
	font-size: .8em;
}

/* ------------- Meet Profile ------------- */

#meet-info{
	margin-top: 20px;
}

#meet-crop{
	height: 200px;
	overflow: hidden;
}

#meet-crop img{
	width: 100%;
	display: block;
}

#join button{
	background-color: #1485CC;
	border: none;
	color: #ffffff;
	font-size: 1.5em;
	font-style: italic;
}

#rules{
	overflow: auto;
	margin: 20px 0;
	padding: 0;
	background-color: #e8e8e8;
}

#rules p{
	text-align: center;
	padding: 5px;
	margin: 0;
	font-size: 1.25em;
}

#members-container h1{
	text-align: center;
	text-transform: uppercase;
	font-style: italic;
	margin-bottom: 20px;
}

.member-box img{
	width: 100%;
}

.member-box p{
	text-align: center;
	font-size: 1.25em;
}

/* ------------- User Profile ------------- */

#user-info{
	margin-top: 20px;
}

#user-info img{
	width: 100%;
}

#user-info #name{
	margin-top: 40px;
}

#user-info #bio{
	text-align: center;
	margin-top: 20px;
}

#joined-meets h2{
	text-align: center;
	margin: 20px;
	font-weight: 600;

}

/* ------------- Settings ------------- */

#settings-title{
	background-color: #262626;
	color: #ffffff;
	padding: 20px;
	text-align: center;
	margin-top: 0;
	text-transform: uppercase;
	font-style: italic;
}

#settings input[type = "text"], #settings textarea{
	padding: 10px;
}

#settings .input input, #settings textarea{
	margin: 10px;
}

#settings input[type="submit"]{
	padding: 10px 0;
	border: none;
	font-style: italic;
	background-color: #1485CC;
	color: #ffffff;
	font-size: 1.5em;
	text-transform: uppercase;
}

#settings .NFI-wrapper{
  width: 100%;
}
#settings .NFI-button {
    color: #fff;
    padding: 10px 20px;
    background-color: #333333;

   
}

#settings .NFI-filename {
	display: block;
	float: left;
   	height: 40px;
}




